/* contact */

.contact__container {
    margin-bottom: 50px;
}

.main__contact-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
}


.contact__block {
    display: flex;
    flex-direction: column;
   align-items: center;
    flex-wrap: wrap;
}

.map__card {
    display: flex;
    min-width: 1094px;
    margin-bottom: 20px;
    
}

.contact__list {
    display: flex;
    flex-direction: row;
    
}

.contact__card {
    width: 100%;
    min-width: 330px;
    height: auto;
    min-height: 200px;
    padding: 20px 20px;
    margin-right: 53px;
    background-color: black;
}

.contact__card:last-child {
    margin-right: 0;
}

.contact__heading {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    font-size: 2rem;
    font-weight: 600;
}

.card__list {
    padding: 0;
    margin: 0;
}

.card__item {
    margin-bottom: 11px;
    list-style: none;
}

.strong__address {
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 500;
}

.card__social-list {
    padding: 0;
    margin: 0;
    margin-bottom: 28px;
}

.card__social-item {
    list-style: none;
}

.card__social-link {
    font-size: 1.5rem;
    font-weight: 400;
}

.card__address {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.card__email-link {
    font-size: 1.5rem;
    font-weight: 400;
}

.card__link {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .contact__container {
        width: 100%;
    }

    .map__card {
        min-width: 750px;
    }

    .contact__card {
        width: 100%;
        min-width: 200px;
        height: auto;
        min-height: 200px;
        padding: 10px 10px;
        margin-right: 53px;
        background-color: black;
    }

    .contact__card:last-child {
        margin-right: 0;
    }

    .contact__heading {
        padding: 0;
        margin: 0;
        margin-bottom: 16px;
        font-size: 2rem;
        font-weight: 600;
    }

    .card__list {
        padding: 0;
        margin: 0;
    }

    .card__item {
        margin-bottom: 11px;
        list-style: none;
    }

    .strong__address {
        margin-bottom: 8px;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .card__social-list {
        padding: 0;
        margin: 0;
        margin-bottom: 28px;
    }

    .card__social-item {
        list-style: none;
    }

    .card__social-link {
        font-size: 1.2rem;
        font-weight: 400;
    }



    .card__address {
        font-size: 1.2rem;
        font-weight: 400;
        font-style: normal;
    }

    .card__email-link {
        font-size: 1.2rem;
        font-weight: 400;
    }

    .card__link {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

@media (max-width: 768px) {
    .contact__list {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;

    }

    .map__card {
        min-width: 199px;
    }

    .contact__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        margin-right: 0;
     
    }
}
